body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #534c38;
}
.wrap {
  background-color: #473a2d;
}
.wrap2 {
  background-image: url("img/Mernieks-fons-gaisais.jpg");
  overflow: hidden;
}
.wrap3 {
  background-image: url("img/Mernieks-fons-tumsais.jpg");
  overflow: hidden;
}
.bakgr{
  background: url("img/fons-rasejums.png")no-repeat;
  background-size: cover;
}
.content {
  width: 1200px;
  font-weight: 200;
  margin: 0 auto;
  font-size: 16px;
  overflow: hidden;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}
.menu a:hover {
  background-color: #5b4d3b;
  display: inlain-block;
  padding: 15px;
}
h2 {
  font-size: 30px;
  color: #95782d;
  padding: 30px 0px;
  margin: 0px;
}
h3 {
  font-size: 24px;
  color: #473a15;
}
header {
  width: 1200px;
  height: 94px;
  font-size: 14px;
  margin: 0 auto;
}
.slider img {
  vertical-align: top;
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin-top: 30px;
  float: left;
  padding-right: 15px;
}
nav li {
  display: inline-block;
  line-height: 40px;
}
nav {
  float: right;
  margin-right: -15px;
}
.bordernav {
  border-left: thin solid #fff;
  padding-left: 15px;
}
.logo {
  padding-top: 30px;
  float: left;
}
.content h2 {
  border-bottom: 2px dotted #736357;
  padding: 30px auto;
  padding-bottom: 30px;
  text-align: center;
}
.content.contentdark h2 {
  border-bottom: 2px dotted #c6a357;
  color: #f2ebe1;
  }
.pakbloks {
  width: 350px;
  float: left;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 45px;
}
.pakbloks h3 {
  padding-left: 30px;
  margin: 0px;
}
.pakli{
  overflow:hidden;
  }
.pakli ul {
  list-style-type: none;
  padding-left: 30px;
  padding-top: 0px;
  margin: 0;
}
.pakli li {
  padding: 15px 0px 15px;
  background-image: url(img/linija.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.pakbloks li:nth-last-child(1) {
 background-image: none;
}
nav ul:nth-last-child(1){
  padding-right: 0;
}
.cenbloks table tr:nth-child(even) {
background-color: #f2ebe1;
}
.cenbloks table{
    border-spacing: 0;
    border-collapse: collapse;
}
.cenbloks td, tr, th {
  padding: 15px;
  font-size: 14px;
  text-align: left;
}

.cenbloks table td:last-child{
  font-weight: bold;
}
.cenbloks tr:nth-child(2) {
  border-top: 1px solid #dfd9cf;
}
.cenbloks tr:last-child{
  border-bottom: 1px solid #dfd9cf;
}
.cenbloks p:last-child{
  font-size: 14px;
}
.pakbloks img {
  float: left;
}
.cenbloks1 {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 570px;
  float: left;
}
.cenbloks2 {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 570px;
  float: right;
}
.content4 h2 {
  border-bottom: 2px dotted #95782d;
  padding: 30px 510px 30px;
}
.content4 p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding-top: 15px;
}
.parmums1, .parmums2{

text-align: center;
}
 .parmums1 h4, .parmums2 h4 {
 margin: 0 auto;
 padding:0px;
  font-size: 36px;
  color: #c7a457;
  font-weight: 200;
 text-align: center;
  border-bottom: thin solid #c7a457;
  width: 330px;
}


.parmumstext p {
  color: #f2ebe1;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
}
.parmums ul {
padding:0;
  display: inline-block;
  width: 568px;
  height: 79px;
  background-color: #624e36;
  font-size: 13px;
  color: #f2ebe1;
  margin-top: 15px;
}

.parmums li {
  padding-top: 25px;
  padding-left: 35px;
  background-image: url("img/ikona-sertif.png");
  background-repeat: no-repeat;
 background-position: 0px 22px;
  display: inline-block;
}
.parmums1 li:first-child{
margin-right: 50px;
}
.clortext {
color: #c7a457;
}
.content5 {
  width: 1200px;
  text-align: justify;
}
.content5::after {
  content: "";
  width: 100%;
  display: inline-block;
}
.content5 h2 {
  border-bottom: 2px dotted #736357;
  padding: 30px 550px 30px;
}
.content5 div {
  width: 1200px;
}
.content5 img {
  margin: 30px;
  display: inline-block;
}
.content5 a:hover{

}
.content6 h2 {
  border-bottom: 2px dotted #95782d;
  padding: 30px 510px 30px;
}
.map {
  margin: 30px auto;
  float: left;
}
.adress {
  margin-top: 30px;
  padding: 0 30px;
  float: left;
  text-align: center;
  color: #f2ebe1;
  line-height: 30px;
}

.adress li{
  list-style-type: none;
   font-size: 16px;
   color: #c7a457;
}
.adress span{
color: #eacc8b;
}
.forma{
 margin-top:30px;
 }
.forma input{
 width: 195px;
 height: 35px;
 background-color: #97804e;
 border: none;
 margin-bottom: 16px;
 }

.forma p{
  color: #eacc8b;
  text-transform: uppercase;
}
.forma input:nth-child(4){
  width: 410px;
  height: 140px;
}

.forma input:first-child{
  margin-right: 16px;
}
