* {
padding: 0;
margin: 0 auto;
font-family: 'Open Sans', sans-serif;
}

.wrap {
background-color: #473a2d;
}
.wrappakcen {
background-image: url("img/Mernieks-fons-gaisais.jpg");
overflow: hidden;
}

a {
color: #ffffff;
text-decoration: none;
}

a:hover{ background-color: #5b4d3b;
}

h2 {
font-size:30px;
color: #95782d;
}

h3 {
font-size: 24px;
color: #473a15;
}

h4 {
font-size: 36px;
color: #c7a457;
font-weight: 200;
text-align: center;
}


header{
width: 1200px;
height: 94px;
font-size: 14px;
margin: 0 auto;
}

<!-- nav ul {
list-style-type: none;
padding-top: 40px;
float:left;
}

nav li {
margin-top: 10px;
margin-left: 30px;
display: inline;
}

nav {
float: right;
}

.logo {
padding-top: 30px;
float:left;
}

.content {
width: 1200px;
font-weight: 200;
margin: 0 auto;
font-size: 16px;
 }
.content2 {
width: 1200px;
font-weight: 200;
margin: 0 auto;
font-size: 16px;
 }

.content h2{
border-bottom: 2px dotted #736357;
padding: 30px 500px 30px 500px;
}
.content2 h2{
border-bottom: 2px dotted #736357;
padding: 30px 400px 30px 400px;
}


.pakbloks{
width: 350px;
float: left;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 75px;
}

.pakbloks ul{
list-style-type: none;
padding:0;

}
.pakbloks img {
float: left;
margin-bottom: 450px;
margin-right:20px;
}
.content li{
padding-top: 25px;
}

.cenbloks1{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 570px;
  float: left;
}
.cenbloks2{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 570px;
  float: right;
}

.wrapparmums{
  background-image: url("img/Mernieks-fons-tumsais.jpg");
  overflow: hidden;
  }

.content4 {
width: 1200px;

}

.content4 h2{
border-bottom: 2px dotted #95782d;
padding: 30px 510px 30px 510px;
}

.content4 p {
color:#fff;
font-size: 16px;
font-weight: 200;
padding-top: 30px;
}

.parmums1{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 570px;
  float: left;
}
.parmums2{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 570px;
  float: left;
}

.parmums1 p{
color: #c7a457;
text-align: center;
}
.parmums2 p{
color: #c7a457;
text-align: center;
}

.parmumstext p{
  color: #fff;
  text-align: left;
}

.parmums1 ul{
  list-style-image: url("img/ikona-sertif.png");
  display: inline;
  width: 568px;
  height: 79px;
  background-color: #624e36;
}
.parmums2 ul{
  list-style-image: url("img/ikona-sertif.png");
  display: inline;
  width: 568px;
  height: 79px;
  background-color: #624e36;
}

.content5 {
width: 1200px;
}
.content5 h2 {
  border-bottom: 2px dotted #736357;
  padding: 30px 550px 30px;
}
.content5 div {
  width: 1200px;
}

.content5 img{
  margin-top: 30px;
pa-left: auto;
margin-right: auto;
}
