body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #534c38;
}
.wrap {
  background-color: #473a2d;
  overflow: hidden;
}
.wrap2 {
  background-image: url("img/Mernieks-fons-gaisais.jpg");
  overflow: hidden;
}
.wrap3 {
  background-image: url("img/Mernieks-fons-tumsais.jpg");
  overflow: hidden;
}
.row {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.col-1-3{
width:33.33%;
float: left;
}
.col-1-2{
  width:50%;
  float: left;
}
.col-1-1{
  width:100%;
}
.row h2 {
    border-bottom: 2px dotted #736357;
      padding: 30px 0px;
    text-align: center;
    margin:0px;
}
