body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #534c38;
}
.wrap {
  background-color: #473a2d;
}
.wrap2 {
  background-image: url("img/Mernieks-fons-gaisais.jpg");
  overflow: hidden;
}
.wrap3 {
  background-image: url("img/Mernieks-fons-tumsais.jpg");
  overflow: hidden;
}
.bakgr {
  background: url("img/fons-rasejums.png")no-repeat;
  background-size: cover;
}
.content {
  width: 1200px;
  font-weight: 200;
  margin: 0 auto;
  font-size: 16px;
  overflow: hidden;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}
.menu a:hover {
  background-color: #5b4d3b;
  display: inlain-block;
  padding: 15px;
}
h2 {
  font-size: 30px;
  color: #95782d;
  padding: 30px 0px;
  margin: 0px;
}
h3 {
  font-size: 24px;
  color: #473a15;
}
header {
  width: 1200px;
  height: 94px;
  font-size: 14px;
  margin: 0 auto;
}
.slider img {
  vertical-align: top;
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin-top: 30px;
  float: left;
  padding-right: 15px;
}
nav li {
  display: inline-block;
  line-height: 40px;
}
nav {
  float: right;
  margin-right: -15px;
}
.bordernav {
  border-left: thin solid #fff;
  padding-left: 15px;
}
.logo {
  padding-top: 30px;
  float: left;
}
.content h2 {
  border-bottom: 2px dotted #736357;
  padding: 30px auto;
  padding-bottom: 30px;
  text-align: center;
}
.content.contentdark h2 {
  border-bottom: 2px dotted #c6a357;
  color: #f2ebe1;
}
.pakbloks {
  width: 350px;
  float: left;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 45px;
}
.pakbloks h3 {
  padding-left: 30px;
  margin: 0px;
}
.pakli {
  overflow: hidden;
}
.pakli ul {
  list-style-type: none;
  padding-left: 30px;
  padding-top: 0px;
  margin: 0;
}
.pakli li {
  padding: 15px 0px 15px;
  background-image: url(img/linija.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.pakbloks li:nth-last-child(1) {
  background-image: none;
}
nav ul:nth-last-child(1) {
  padding-right: 0;
}
.cenbloks table tr:nth-child(even) {
  background-color: #f2ebe1;
}
.cenbloks table {
  border-spacing: 0;
  border-collapse: collapse;
}
.cenbloks td, tr, th {
  padding: 15px;
  font-size: 14px;
  text-align: left;
}
.cenbloks table td:last-child {
  font-weight: bold;
}
.cenbloks tr:nth-child(2) {
  border-top: 1px solid #dfd9cf;
}
.cenbloks tr:last-child {
  border-bottom: 1px solid #dfd9cf;
}
.cenbloks p:last-child {
  font-size: 14px;
}
.pakbloks img {
  float: left;
}
.cenbloks1 {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 570px;
  float: left;
}
.cenbloks2 {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 570px;
  float: right;
}
.content4 h2 {
  border-bottom: 2px dotted #95782d;
  padding: 30px 510px 30px;
}
.content4 p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding-top: 15px;
}
.parmums1, .parmums2 {
  text-align: center;
}
.parmums1 h4, .parmums2 h4 {
  margin: 0 auto;
  padding: 0px;
  font-size: 36px;
  color: #c7a457;
  font-weight: 200;
  text-align: center;
  border-bottom: thin solid #c7a457;
  width: 330px;
}
.parmumstext p {
  color: #f2ebe1;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
}
.parmums ul {
  padding: 0;
  display: inline-block;
  width: 568px;
  height: 79px;
  background-color: #624e36;
  font-size: 13px;
  color: #f2ebe1;
  margin-top: 15px;
}
.parmums li {
  padding-top: 25px;
  padding-left: 35px;
  background-image: url("img/ikona-sertif.png");
  background-repeat: no-repeat;
  background-position: 0px 22px;
  display: inline-block;
}
.parmums1 li:first-child {
  margin-right: 50px;
}
.clortext {
  color: #c7a457;
}
.content5 {
  width: 1200px;
  text-align: justify;
}
.content5::after {
  content: "";
  width: 100%;
  display: inline-block;
}
.content5 h2 {
  border-bottom: 2px dotted #736357;
  padding: 30px 550px 30px;
}
.content5 div {
  margin: 30px;
  display: inline-block;
}
.content5 a:hover {}
.content6 h2 {
  border-bottom: 2px dotted #95782d;
  padding: 30px 510px 30px;
}
.map {
  margin: 30px auto;
  float: left;
}
.adress {
  margin-top: 30px;
  padding: 0 20px;
  float: left;
  text-align: center;
  color: #f2ebe1;
  line-height: 30px;
}
.adress li {
  list-style-type: none;
  font-size: 16px;
  color: #c7a457;
}
.adress a {
  color: #c7a457;
  text-decoration: none;
}
.adress span a {
  color: #eacc8b;
  text-decoration: none;
}
.forma {
  margin-top: 30px;
  display: block;
  width: 410px;
  float:right;
}
.forma ::-webkit-input-placeholder {
  color: #b1965c;
  padding-left: 5px;
}
.forma ::moz-placeholder {
  color: #b1965c;
  padding-left: 5px;
}

.forma input {
  width: 195px;
  height: 35px;
  background-color: #97804e;
  border: none;
  margin-bottom: 15px;
}
.forma p {
  color: #eacc8b;
  text-transform: uppercase;
}
.forma textarea {
  width: 405px;
  height: 140px;
  background-color: #97804e;
  border: none;
  margin-bottom: 15px;
}
.forma input:first-child {
  margin-right: 15px;

}
.top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.logo1 {
  width: 217px;
  height: 56px;
  background-image: url(img/Latvijas-rep-logo.png);
  background-repeat: no-repeat;
}
.logo1:hover {
  background-image: url(img/Latvijas-rep-logo-overfl.png);
}
.logo2 {
  width: 152px;
  height: 70px;
  background-image: url(img/lvm-logo-2.png);
  background-repeat: no-repeat;
}
.logo2:hover {
  background-image: url(img/lvm-logo.png);
}
.logo3 {
  width: 158px;
  height: 50px;
  background-image: url(img/gibson-logo-2.png);
  background-repeat: no-repeat;
}
.logo3:hover {
  background-image: url(img/gibson-logo.png);
}
.logo4 {
  width: 102px;
  height: 56px;
  background-image: url(img/busines-buld-logo2.png);
  background-repeat: no-repeat;
}
.logo4:hover {
  background-image: url(img/busines-buld-logo.png);
}
.logo5 {
  width: 165px;
  height: 29px;
  background-image: url(img/baltic-sust-logo2.png);
  background-repeat: no-repeat;
}
.logo5:hover {
  background-image: url(img/baltic-sust-logo.png);
}
.logo6 {
  width: 310px;
  height: 40px;
  background-image: url(img/statoi2l.png);
  background-repeat: no-repeat;
}
.logo6:hover {
  background-image: url(img/statoil.png);
}
.logo7 {
  width: 157px;
  height: 45px;
  background-image: url(img/casamona2.png);
  background-repeat: no-repeat;
}
.logo7:hover {
  background-image: url(img/casamona.png);
}
.logo8 {
  width: 174px;
  height: 45px;
  background-image: url(img/blue-roots2.png);
  background-repeat: no-repeat;
}
.logo8:hover {
  background-image: url(img/blue-roots.png);
}
.logo9 {
  width: 72px;
  height: 72px;
  background-image: url(img/latv-valts-ce-2.png);
  background-repeat: no-repeat;
}
.logo9:hover {
  background-image: url(img/latv-valts-cel.png);
}
.logo10 {
  width: 152px;
  height: 36px;
  background-image: url(img/latvenergo-logo2.png);
  background-repeat: no-repeat;
}
.logo10:hover {
  background-image: url(img/latvenergo-logo.png);
}
.logo11 {
  width: 69px;
  height: 86px;
  background-image: url(img/fiter2.png);
  background-repeat: no-repeat;
}
.logo11:hover {
  background-image: url(img/fiter.png);
}
.logo12 {
  width: 125px;
  height: 41px;
  background-image: url(img/lmt2.png);
  background-repeat: no-repeat;
}
.logo12:hover {
  background-image: url(img/lmt.png);
}
.logo13 {
  width: 82px;
  height: 75px;
  background-image: url(img/osta2.png);
  background-repeat: no-repeat;
}
.logo13:hover {
  background-image: url(img/osta.png);
}
.logo14 {
  width: 173px;
  height: 44px;
  background-image: url(img/ventbunker2.png);
  background-repeat: no-repeat;
}
.logo14:hover {
  background-image: url(img/ventbunker.png);
}
.logo15 {
  width: 109px;
  height: 47px;
  background-image: url(img/latio2.png);
  background-repeat: no-repeat;
}
.logo15:hover {
  background-image: url(img/latio.png);
}
.logo16{
  width: 182px;
  height: 57px;
  background-image: url(img/ventsp.png);
  background-repeat: no-repeat;
}
.logo16:hover {
  background-image: url(img/ventsp2.png);
}

.slider {
  width:100%;
  height: 594px;
  background-image: url(img/slide1.jpg);
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
  background-size:cover;
box-shadow: 0px 0px 3px 0px #473a2d;
}

.slidertext {
  position:absolute;
  top:255px;
  left: 180px;
}
.slidertext h1, .slidertext p  {
background-color: rgba(71, 58, 45, 0.8);
color:#f5f2eb;
margin: 0;
}
.slidertext h1 {
  font-size: 44px;
  font-weight: 200;
  display: inline-block;
 padding: 10px 20px;
 margin-right: 1000px;
}
.slidertext p {
  font-size: 24px;
  font-weight: 200;
  display: inline-block;
 padding: 10px 20px;
 margin-top: 15px;
}
.bulta {
  width:26px;
  height: 42px;
  opacity: 0.4;
  position:absolute;
  top:50%;
}
.bulta1 {
  left: 100px;
}
.bulta2 {
  right: 100px;
}
